* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  vertical-align: middle;
}

.container-fluid {
  padding: 0rem;
  margin: 0;
}

#header {
  padding: 10rem 1rem 10rem 1rem;
  background: #0F2027;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#header h1 {
  color: #ffffff;
}

input {
  width: 100%;
  padding: 1rem;
}

.form-control {
  border: 0;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.submitbutton {
  border: none;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 0.9rem;
  background: #ff3366;
  color: #ffffff;
  border-radius: 0.2rem;
}

.repo {
  padding: 1rem;
  border: 0.1rem solid #cfcfcf;
  border-radius: 0.2rem;
  margin: 0.8rem 0rem;
}

.repo a {
  color: #000000;
  text-decoration: none;
}

.repo .reponame {
  font-size: 1.1rem;
  color: #0366d6;
  font-weight: bold;
}

.repo .repodesc {
  font-size: 0.8rem;
  color: #666;
}

.repo .col {
  padding-left: 0;
}

.repo .repostars {
  display: table;
  background: #efefef;
  padding: 0.4rem;
  font-size: 0.7rem;
  border-radius: 0.3rem;
  border: 0.1rem solid #cfcfcf;
  color: #343434;
}

.repo .fa-star {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.7rem;
}

.row {
  margin: 0;
  padding: 0rem;
  width: 100%;
}

#user {
  display: inline-block;
  padding: 1rem;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(179, 187, 193, 0.5);
  border-radius: 0.2rem;
}

#user img {
  max-width: 40%;
  max-height: 40%;
  border-radius: 0.3rem;
}

#user h3 {
  font-size: 1.1em;
}

#user a {
  color: #000000;
  text-decoration: none;
}

.col {
  padding: 0.8rem;
  margin: 0;
}

@media screen and (max-width: 728px) {
  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */